* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.palette-grid {
  height: 100vh;
  width: 100vw;
  padding: 2.6vh 1.66vw;
  display: grid;
  gap: 2.6vh 1.66vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 16.2vh;
}

.box {
  width: 100%;
  height: 100%;
}

.col-left {
  display: grid;
  gap: 2.6vh;
  grid-template-rows: 195fr 195fr 268fr;
}
.box-1 { background-color: #007f5f; }
.box-2 { background-color: #289348; }
.box-3 { background-color: #55a630; }


.col-mid {
  display: grid;
  gap: 2.6vh 1.66vw;
  grid-template-columns: 212fr 212fr;
  grid-template-rows: 414fr 268fr;
}
.box-4 {
  grid-column: 1 / 3;
  background-color: #80b918;
}
.mid-sub-left {
  display: grid;
  gap: 2.6vh;
  grid-template-rows: 122fr 122fr;
}
.box-5 { background-color: #aacc00; }
.box-6 { background-color: #bfd200; }
.box-7 {
  
  width: calc(200% + 1.66vw);
  background-color: #d4d700;
  z-index: 2;
}

.col-right {
  display: grid;
  gap: 2.6vh;
  grid-template-rows: 122fr 122fr 122fr 268fr;
}
.box-8  { background-color: #dddf00; }
.box-9  { background-color: #eeef20; }
.box-10 { background-color: #ffff3f; }

.right-bottom {
  display: flex;
  justify-content: flex-end;
}
.box-11 {
  width: calc(50% - 0.83vw);
  background-color: #007f5f;
}

.footer {
  grid-column: 1 / 4;
  background-color: #98c1bc;
  display: flex;
  align-items: center;
  padding-left: 1.66vw; 
}

.footer h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 7.1vh;
  font-weight: 700;
  color: #000000;
  line-height: 1;
  letter-spacing: 0;
}